* {
    font-family: 'poppins', serif;
    list-style: none;
}

:root {
    --mint: #53be92;
    --dark: #242422;
    --white: #ffffff;
}

body {
    background-color: var(--mint);
}

#top {
    text-align: center;
}

.answer {
    width: 300px;
    
}

.start {
    background-color: var(--dark);
    color: var(--white);
}

#scoreboard {
    display: none;
    text-align: center;
    color: var(--white);
}

.scores {
    margin-right: 40px;
    color: var(--dark);
}



.test {
    display: none;
    text-align: center;
    margin: 100px;

    justify-content: center;
}

.question {
    font-size: 30px;
}

.answer {
    margin: 20px;
}

#timer {
    color: var(--white);
}
/* how to make wider, tried 50vw, kind of looks bugged */
/* how to elimate the space the ul makes padding 40 on left auto */
@media (width <= 596px) {
     .media {
        display:flex;

    }
  .question {
    justify-content: center;
    display: flex;
  
  }
  
}