* {
    font-family: 'poppins', serif;
    list-style: none;
}

:root {
    --mint: #53be92;
    --dark: #242422;
    --white: #ffffff;
}

body {
    background-color: var(--mint);
}

#top {
    text-align: center;
}

.answer {
    width: 300px;
    
}

.start {
    background-color: var(--dark);
    color: var(--white);
}

#scoreboard {
    display: none;
    text-align: center;
    color: var(--white);
    margin-top:100px;
    font-size:24px;
    
}

#scoreTitle {
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.scores {
    margin-right: 40px;
    color: var(--dark);
}

button {
    min-width: 125px;
}

.test {
    display: none;
    text-align: center;
    margin: 100px;

    justify-content: center;
}

.time {
    color: white
}

.question {
    font-size: 30px;
}
.centerThis {
    padding:0;
}
.answer {
    margin: 20px;
}

#timer {
    color: var(--white);
}
#submitBtn {
    background-color: black;
    color: white;
}
.input {
    display: none;
    text-align: center;
    margin-top:100px;
    font-size: 30px;
}
/* how to make wider, tried 50vw, kind of looks bugged */
/* how to elimate the space the ul makes padding 40 on left auto */
@media (width <= 596px) {
     .media {
        display:flex;

    }
  .question {
    justify-content: center;
    display: flex;
  
  }
  
}
